:root {
    --white--color: #fff;
    --black--color: #333;
}
* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    /* font-family: UTM-A, Tahoma, Geneva, sans-serif; */
    box-sizing: border-box;
}
@keyframes SliderShow {
    0% {
        margin-left: 0;
    }
    45% {
        margin-left: 0;
    }
    50% {
        margin-left: -100%;
    }
    95% {
        margin-left: -100%;
    }
    100% {
        margin-left: -200%;
    }
}
@keyframes Scroll {
    0% {
        top: 92px;
    }
    100% {
        top: 0;
    }
}
@keyframes ToptoBot {
    0% {
        top: 35px;
        opacity: 0;
    }
    100% {
        top: 45px;
        opacity: 1;
    }
}
@keyframes OpacityShow {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes SliderShowFood {
    0% {
        margin-left: 0;
    }
    5% {
        margin-left: 0;
    }
    10% {
        margin-left: -20%;
    }
    14.5% {
        margin-left: -20%;
    }
    19% {
        margin-left: -40%;
        /* margin-left: -40.25%; */
    }
    23.5% {
        margin-left: -40%;
        /* margin-left: -40.25%; */
    }
    28% {
        margin-left: -60%;
        /* margin-left: -60.5%; */
    }
    32.5% {
        margin-left: -60%;
        /* margin-left: -60.5%; */
    }
    37% {
        margin-left: -80%;
        /* margin-left: -80.75%; */
    }
    41.5% {
        margin-left: -80%;
        /* margin-left: -80.75%; */
    }
    46% {
        margin-left: -100%;
        /* margin-left: -101%; */
    }
    50.5% {
        margin-left: -100%;
        /* margin-left: -101%; */
    }
    55% {
        margin-left: -120%;
        /* margin-left: -121.25%; */
    }
    59.5% {
        margin-left: -120%;
        /* margin-left: -121.25%; */
    }
    64% {
        margin-left: -140%;
        /* margin-left: -141.5%; */
    }
    68.5% {
        margin-left: -140%;
        /* margin-left: -141.5%; */
    }
    73% {
        margin-left: -160%;
        /* margin-left: -161.75%; */
    }
    77.5% {
        margin-left: -160%;
        /* margin-left: -161.75%; */
    }
    82% {
        margin-left: -180%;
        /* margin-left: -182%; */
    }
    86.5% {
        margin-left: -180%;
        /* margin-left: -182%; */
    }
    91% {
        margin-left: -200%;
        /* margin-left: -202.25%; */
    }
    95.5% {
        margin-left: -200%;
        /* margin-left: -202.25%; */
    }
    100% {
        margin-left: -220%;
        /* margin-left: -222%; */
    }
}
@keyframes SlideVideo {
    10% {
        margin-left: -24%;
    }
    20% {
        margin-left: -24%;
    }
    30% {
        margin-left: -74%;
    }
    40% {
        margin-left: -74%;
    }
    50% {
        margin-left: -74%;
    }
    60% {
        margin-left: -124%;
    }
    70% {
        margin-left: -124%;
    }
    80% {
        margin-left: -124%;
    }
    90% {
        margin-left: -172.59%;
    }
    100% {
        margin-left: -172.59%;
    }
}