.content {
    display: flex;
    /* padding: 0 5%; */
}
.content__login {
    padding: 30px 100px;
    flex: 1;
    text-align: center;
    background-color: #fff;
    margin-top: 30px;
}
.content__hr--right {
    height: 50vh;
    margin: 5% 0;
    border-right: 1px solid #dfdfdf;
}
.content__login > h3 {
    font-size: 1.8rem;
    color: #313131;
    margin-bottom: 20px;
}
.content__login > h4 {
    color: #525252;
    font-weight: lighter;
    line-height: 30px;
    margin-bottom: 10px;
}
.content__login--form-text {
    padding: 20px;
    margin: 15px 0;
    width: 80%;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
}
.content__login--form-text:focus {
    outline: 3px solid #eb983e;
    transition: 0.1s;
}
.content__login--form-text::placeholder {
    color: #919191;
}
.content__login--form-more {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}
.content__login--form-more > label {
    color: #6d6d6d;
}
.content__login--form-more > a {
    color: #3f3f3f;
    text-decoration: underline;
}
.content__login--form-btn {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    background-color: #eb983e;
    padding: 20px 30%;
    margin: 30px 0;
    border: 1px solid #eb983e;
    border-radius: 30px;
    cursor: pointer;
}
.content__login--form-btn:hover {
    color: #eb983e;
    background-color: #f6f6f6;
    transition: 0.3s;
}